<!DOCTYPE html>
<html>
  <head>
     <title>Briciusss | Thank You</title>
     <link rel="icon" href="/img/BriciusssIcon.png" type="image/x-icon" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  </head>
  <nav class="grownav nav">
    <a href="https://www.briciusss.com">
	    <img class= "logo" src="/img/briciuHi.png" width= "25px" alt="Briciusss Logo">
	  </a>
		<div style="float:right">
	        <a id="homeLink" href="https://www.briciusss.com">Home</a>
	        <a id="merchLink" href="https://www.briciusss.com/merch">Merch</a>
	        <a id="artLink" href="https://www.briciusss.com/art">Art</a>
		<a id="cartLink" href="https://www.briciusss.com/cart">Cart</a>
	  </div>
	</nav>
  <body>
    <p id="message">You should get an email once your order has been fulfilled with tracking info!</p>
    <img id="ty" src="/img/thankYouNote.png"></img>
  </body>
  <footer class="footer">
  <section id="footer" class="py-5">
    <div class="center grow">
    	<a href="https://www.twitch.tv/briciusss"> <img class="icon" src="/img/twitch-icon.png" width="auto" height="100" alt="Twitch Icon"></a>
		<a href="https://www.youtube.com/channel/UCmpGpWC-enaHg3diu98w27A"> <img class="icon" src="/img/youtube-icon.png" width="auto" height="100" alt="YouTube Icon"></a>
		<a href="https://discord.gg/HsXTV3N8Td"> <img class="icon" src="/img/discord-icon.png" width="auto" height="100" alt="Discord Icon"></a>
		<a href="https://www.tiktok.com/@briciusss"> <img class="icon" src="/img/tiktok-icon.png" width="auto" height="100" alt="Tiktok Icon"></a>
		<a href="https://twitter.com/briciusss"> <img class="icon" src="/img/twitter-logo.png" width="auto" height="100" alt="Twitter Icon"></a>
		<a href="https://www.instagram.com/briciusss_/"> <img class="icon" src="/img/instagram-logo.png" width="auto" height="100" alt="Instagram Icon"></a>
    </div>
  </section>
</footer>
<div class="bottombar">
<p id="credit">&copy; Copyright to <a href="https://www.hollowaycw.com/">Michael Holloway (Developer)</a> and Briciusss</p>
</div>

  <style>
    body {
      background-color: #a3ffe8;
      width: 100%;
      margin: auto;
    }

    #message{
      display: block;
      background: #00948E;
      box-shadow: 10px 10px 5px grey;
      font-family: 'Raleway', serif;
      text-align: center;
      font-size: 25px;
      color: white;
    }

    #ty {
      width: 100%;
      margin-bottom: -5px;
    }
    .center {
    	text-align: center;
    }

    .logo {
    	-webkit-transform: scale(2.5);
    	-ms-transform: scale(2.5);
    	transform: scale(2.5)4
    }

    .grownav img{
    	transition: 1s ease;
    }

    .grownav img:hover{
    	-webkit-transform: scale(3);
    	-ms-transform: scale(3);
    	transform: scale(3);
    	transition: 1s ease;
    }

    .nav {
    	font-family: 'Raleway', serif;
    	width: 100%;
    	background-color: #9754ff;
    	background-image: linear-gradient(45deg, #00ffcc 0%, #6603fc 50%, #FF3CAC 100%);
    	overflow: auto;
    }

    .nav a {
    	float: left;
    	text-align: center;
    	padding: 30px;
    	color: white;
    	text-decoration: none;
    	font-size: 20px;
    	width: 55px;
    }

    .nav a:hover {
    	color: #fff;
     	outline: 0;
     	box-shadow: 0 0 10px 0 #FFFFFF inset, 0 0 10px 4px #FFFFFF;
    }


    @media screen and (max-width: 500px) {
      .nav a {
    	float: none;
        display: block;
      }
    }

    .bottombar {
    	font-family: 'Raleway', serif;
    	color: white;
    	background-color: #004A3B;
    	padding: 10px;
    }

    .footer {
    	background-color: #FF3CAC;
    	background-image: linear-gradient(45deg, #FF3CAC 0%, #784BA0 50%, #00ffcc 100%);
    }

    .icon {
    	margin-bottom: 7px;
    }

    #credit {
    	text-align: center;
    }

    #credit > a {
    	text-decoration: underline;
    	color: white;
    }

  </style>
</html>
